@media (min-width: 768px) {
    .top-nav {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .container {
        max-width: 768px;
    }

    #home-explain{
        padding-bottom: 40px;
        padding-top: 40px;
    }
}

h1, h2, h3, h4, h5{
    font-family: 'Amaranth', sans-serif;
}

p, a, li{
    font-family: 'Alef', sans-serif;
}

h1 > a, h2 > a {
    color: #222;
    font-family: 'Amaranth', sans-serif;
}

h1 > a:hover, h2 > a:hover {
    text-decoration: none;
    color: #444;
}

.page-header{
    border-bottom: 0;
}

.page-header > h1 {
    font-size: 50px;
}

p.big-text {
    font-size: 1.25em;
    padding-top: 20px;
}

footer{
    border-top: 1px solid #AAA;
    margin-top: 20px;
    padding-top: 20px;
}

.nav-pills > li.active > a {
    background-color: #AAA;
}

.nav-pills > li.active > a:hover {
    background-color: #888;
}

.nav-pills > li > a {
    color: #444;
}

