<!--  footer links for mobile  -->
<div class="row">
  <div class="col-xs-12">
      <ul class="nav nav-pills nav-stacked visible-xs-block">
          <li role="presentation" class="active"><a href="/">Home</a></li>
          <li role="presentation"><a href="./about.html">About Us</a></li>
          <li role="presentation"><a href="./work.html">Our Work</a></li>
      </ul>
  </div>
</div>
<!-- actual footer -->
<footer>
  <div class="row">
      <div class="col-sm-12">
        <p>Vasippu Trust, Shop No: 4&amp;5, 295/87, TH Road, Lakshmi Kovil, New Washermenpet, Chennai - 81
          <a href="mailto:contact@vasippu.org" class="pull-right">Mail Us</a>
        </p>
      </div>
  </div>
</footer>
 
