<!--  footer links for mobile  -->
<div class="row">
  <div class="col-xs-12">
      <ul class="nav nav-pills nav-stacked visible-xs-block">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li role="presentation"><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}

      </ul>
  </div>
</div>
<!-- actual footer -->
<footer>
  <div class="row">
      <div class="col-sm-12">
        <p>Vasippu Trust, Shop No: 4&amp;5, 295/87, TH Road, Lakshmi Kovil, New Washermenpet, Chennai - 81
          <a href="mailto:contact@vasippu.org" class="pull-right">Mail Us</a>
        </p>
      </div>
  </div>
</footer>
 
