<div class="row">
  <header>
    <div class="col-xs-12 col-sm-6">
      <div class="page-header">
        <h1><img src="{{ "/images/64px_logo.png" | prepend: site.baseurl }}" alt="logo"> <a href="{{ site.baseurl }}/">Vasippu</a></h1>
      </div>
    </div>
  </header>
  <nav>
  <div class="col-xs-12 col-sm-6 top-nav">
    <ul class="nav nav-pills hidden-xs pull-right">
        {% for link in site.navigation %}
        <li role="presentation" class="{% if link.url == page.url %}active{% endif %} "><a href="{{ link.url | prepend: site.baseurl }}">{{ link.text }}</a></li>
        {% endfor %}
    </ul>
  </div>
  </nav>
</div>

